* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #video{
    -webkit-appearance: none
  }
  .video-background::-webkit-media-controls-panel,
  .video-background::-webkit-media-controls-start-playback-button {
      display: none !important;
  }
  .col-12 {
    padding: 0px;
  }
  /* Typography */
  body{
      font-family: "Lato", sans-serif;
      font-weight: 400;
  }
  
  .bio-text {
    font-family: "Lato", sans-serif;
    font-size: 46px;
    font-weight: 400;
    line-height: 1.25em;
    font-style: italic;
  }
  
  .p {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25em;
  }
  
  .h1 {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 0.04em;
  }
  
  .portfolio-title {
    padding-top: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1em;
    margin-bottom: 5px;
  }
  .portfolio-cta {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.25em;
    font-weight: 400;
  }
  
  .product-detail-text {
    font-family: "Lato", sans-serif;
    font-size: 32px;
    line-height: 1.25em;
    font-weight: 300;
    padding-right: 60px;
    margin-bottom: 15px;
    margin-top: 10px;
    letter-spacing: 0.01em;
  }
  
  .product-title {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;
    letter-spacing: 0.02em;
  }
  
  .category-text {
    display: inline;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    text-decoration: underline;
    margin-right: 10px;
    font-style: italic;
  }
  /* Grid & Style */
  
  .row {
    margin-bottom: 8vh;
  }
  
  .col {
    padding-right: 2.7vw;
    padding-left: 2.7vw;
  }
  
  .margin {
    margin-right: 0px;
    margin-left: 0px;
  }
  
  form {
    width: 40vw;
    margin: auto;
  }
  
  .btn {
    border-radius: 20px!important;
    border: 1px solid black !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    width: auto !important;
  }
  
  .btn:hover {
    background-color: black!important;
    color: white!important;
  }
  
  .form-field {
    border-bottom: 1px solid black;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  
  .form-comment {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    padding: 10px;
    margin-top: 10px;
  }
  
  .container-fluid {
    width: 85.41666666666666vw;
    position: relative;
    margin-bottom: 20vh;
    margin-top: 10vh;
  }
  
  
  .container {
    width: 90vw;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .container div {
    /* display: flex; */
    align-items: flex-start; /* new */
  }
  .full-width {
    width: 100vw;
    height: auto;
    position: relative;
  }
  
  video::-webkit-media-controls-enclosure {
    display:none !important;
  }
  
  .img-bg {
    width: 100%;
    height: auto;
  }
  
  .img-bg-touch-devices {
    display: none;
  }
  
  .img-sm {
    width: 100%;
    height: auto;
  }
  
  .arrow-cta {
    height: 9px;
    width: 16px;
    margin-right: 15px;
  }
  
  .video-wrapper{
      overflow: hidden
  }
  
  #video{
      position: relative; /* could be absolute if needed */
      left: -1px;
      right: -1px;
  }
  
  /* Nav & Footer */
  
  a {
    color: #000000 !important;
    text-decoration: none !important;
    background-color: transparent !important;
  }
  
  a:hover {
    color: #000000 !important;
    text-decoration: none !important;
  }
  
  a:active {
      outline: none !important;
    }
  
  .nav {
    display: inline;
    /* background-color: #ffffff; */
    z-index: 1;
    padding: 40px;
  }
  
  .filter-group {
    text-align: center;
  }
  
  footer {
    background-color: #ffffff;
    z-index: 1;
    width: 100vw;
    padding: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(8px);
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 40px;
  }
  
  .li-logo {
    padding-left: 10px;
  }
  
  li {
    display: inline;
    padding-left: 30px;
  }
  
  /* Asset Style */
  
  .dev-bg {
    width: 100%;
    height: 40vh;
    position: relative;
    margin-top: 40px;
  }
  
  .dev-text {
    font-family: "Lato", sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin: auto;
    text-align: center;
    padding-top: 18vh;
  }
  
  #abt-img {
    width: 100%;
    height: auto;
  }
  
  .ft-itm-right {
    float: right;
  }
  
  .logo-img {
    width: auto;
    height: 75px;
  }
  
  #logo {
    z-index: 3;
  }
  
  .svg {
    width: 30px;
    height: 30px;
  }
  
  .svg:hover {
    fill: black;
  }
  
  .form-group:active {
    border: none;
  }
  
  .btn:focus {
    outline: none;
  }
  
  input:focus {
    outline: none;
  }
  
  textarea:focus {
    outline: none;
  }
  
  .dev-badge {
    font-family: "Lato", sans-serif;
    font-size: 10px;
    font-weight: 400;
    background-color: #000000;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 15px;
    color: #ffffff;
    border-radius: 30px;
    text-align: center;
    width: 70px;
    letter-spacing: 0.04em;
  }
  
  .design-badge {
    font-family: "Lato", sans-serif;
    font-size: 10px;
    font-weight: 600;
    border: 1px solid #000000;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 15px;
    color: #000000;
    border-radius: 15px;
    text-align: center;
    width: 70px;
    letter-spacing: 0.04em;
  }
  
  
  /* .badge-position-left {
      position: absolute;
      top:40px;
      left: 20px
  }
  
  .badge-position-right {
      position: absolute;
      top:40px;
      left: 50px
  } */
  
  .mobile-view {
    display: none;
  }
  
  .shadow {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
      0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  
  }

  
  
  @media only screen and (max-width: 991px) {
      .product-detail-text {
          font-size: 24px;
          padding-right: 60px;
     
        }
  }
  
  @media only screen and (max-width: 766px) {
   
      .product-detail-text {
          font-size: 24px;
          padding-right: 20px;
     
        }
    .img-sm {
      width: 100%;
      height: auto;
      margin-top: 30px;
    }
  
    .img-bg {
      display: none;
    }
  
    .img-bg-touch-devices {
      display: block;
      width: 100%;
      height: auto;
      margin-top: 30px;
    }
  
    .nav {
      position: fixed;
      background-color: #ffffff;
      z-index: 1;
      width: 100vw;
      padding: 20px;
    }
  
    .btn {
      width: 120px;
    }
  
    .col {
      padding-right: 0;
      padding-left: 0;
    }
  
    .ft-itm-right {
      float: none;
      display: block;
      margin-bottom: 10px;
    }
  
    footer {
      position: absolute;
      padding: 30px;
      border-top: 1px solid #dedede;
      /* bottom: -260px; */
    }
  
    .bio-text {
      font-size: 42px;
      margin-top: 30px;
    }
  
    .container-fluid {
      width: 100vw;
      padding-left: 30px;
      padding-right: 30px;
    }
    .row {
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
    }
    #li-logo {
      padding-left: 0px;
    }
    .dev-text {
      font-family: "Lato", sans-serif;
      font-size: 24px;
      font-weight: 400;
      margin: auto;
      text-align: center;
      padding-top: 18vh;
    }
  }
  
  @media only screen and (max-width: 762px) {
    .product-detail-text {
          font-size: 24px;
          padding-right: 5px;
     
        }
  
    .img-sm {
      width: 100%;
      height: auto;
    }
  
    .container-fluid {
      width: 100vw;
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 125px;
      height:auto;
    }
    .container{
        padding-left:30px;
        padding-right:30px;
        height:auto;
    }
    .svg {
      width: 50px;
      height: 50px;
      float: right;
    }
  
    ul {
      padding: 30px;
      height: auto;
    }
  
    li {
      width: 100%;
      display: block;
      padding-left: 0px;
      padding-bottom: 10px;
      text-align: left;
    }
  
    .li-logo {
      padding-left: 0px;
    }
  
    .nav {
      position: fixed;
      background-color: #ffffff;
      z-index: 1;
      width: 100vw;
      padding: 40px;
    }
  
    .col {
      padding-right: 0;
      padding-left: 0;
      height:auto;
    }
  
    footer {
      position: relative;
      padding: 30px;
      border-top: 1px solid #dedede;
      bottom: 0px;
    }
  
    .bio-text {
      font-family: "Lato", sans-serif;
      font-size: 36px;
      font-weight: regular;
      line-height: 1.25em;
      font-style: italic;
      padding-right: 20px;
    }
    .filter-group {
      text-align: left;
      margin-left: 15px;
      margin-top: 120px;
    }
    /* 
      .btn{
          width: 100%;
      } */
  
    .desktop-view {
      display: none;
    }
    .mobile-view {
      display: block;
      margin-bottom: 30px;
    }
  }
  
  /* animation */
  @-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }
  
  